{% extends 'base.html' %} {% block content %}
<br>

<h1>{{ title }}</h1>
{% if not my_dibs %}
<p>Nothing yet</p>
{% else %}

<ul>
    {% for each in my_dibs %}
    <div class="gallery">
        <img src="/media/{{ each.photo }}" alt="TODO" width="300">
        <div class="desc">{{ each.description }}</div>
        <div class="desc">Offered by {{ each.owner.username }}</div>

        <div class="desc">To members of {{ each.family.family_name }}</div>

        {% for something in each.dib_set.all %}
        <div class="desc">{{ something.owner.username }} called dibs!</div>
        {% endfor %} {% endfor %} {% endif %} {% endblock content %}