{% extends 'base.html' %} {% block content %}

<h1>{{ title }}</h1>
<section>

    {% if not my_dibs %}
    <p>Nothing yet</p>
    {% else %}

    <div class="posts">
        {% for each in my_dibs %}
        <article>
            <a href="#" class="image">
                <img src="/media/{{ each.photo }}" alt="">
            </a>

            <p>{{ each.description }}</p>
            <p>Offered by {{ each.owner.username }}
                <br> To members of {{ each.family.family_name }}</p>

            {% for something in each.dib_set.all %}
            <p>{{ something.owner.username }} called dibs!</p>
            {% endfor %}
        </article>

        {% endfor %}
    </div>
    {% endif %}
</section>{% endblock content %}