{% extends 'base.html' %} {% block content %}
<br>
<h1>{{ title }}</h1>
<section>
    <!--This checks dib_set to see if it's empty aka length of 0.-->
    {% if offer.dib_set.all|length == 0 %}
    <p>Nothing yet</p>
    {% else %}
    <div class="posts">
        <!--TODO Make this work! Need to filter out offers that have no dibs.-->
        {% for offer in offers %}
        <article>
            <a href="#" class="image">
                <img src="/media/{{ offer.photo }}" alt=""> </a>

            <p>{{ offer.description }}</p>
            <!--An offer has many dibs. A dib belongs to an offer AND to an owner.-->
            <!--To access the attributes of a dib, use dib_set.-->
            {% for each in offer.dib_set.all %}
            <p>{{ each.owner.username }} called dibs!</p>
            {% endfor %}
        </article>
        {% endfor %}
    </div>
    {% endif %}
</section>

{% endblock content %}