{% extends 'base.html' %} {% block content %}
<!--Hi, {{ user.username }}!-->
<!--<p><a href="{% url 'logout' %}">Click here to log out</a></p> 
    <p><a href="{% url 'home' %}">Click here to return to the home page</a></p>
    -->
<br>
<!--To make this href work, need to add namespace: to it. 
    So here it's 'offers:new_offer' instead of simply 'new_offer.
    WARNING: It's 'new_offer' in urls.py but here it needs to be 'offers:new_offer'-->
<!--<p><a href="{% url 'offers:new_offer' %}" >Click here to add an offer</a></p> -->
<h1>{{ title }}</h1>

{% if not offers %}
<p>Nothing yet</p>
{% else %}
<ul>
    {% for offer in offers %}

    <div class="gallery">
        <img src="/media/{{ offer.photo }}" alt="TODO" width="300">
        <div class="desc">{{ offer.description }}</div>
        <!--An offer has many dibs. A dib belongs to an offer AND to an owner.-->
        <!--To access the attributes of a dib, use dib_set.-->
        {% for each in offer.dib_set.all %}
        <div class="desc">{{ each.owner.username }} called dibs!</div>
        {% endfor %}
    </div>
    {% endfor%}

</ul>

{% endif %} {% endblock content %}