{% extends 'base.html' %} {% block content %}
<!--Hi, {{ user.username }}!-->
<!--<p><a href="{% url 'logout' %}">Click here to log out</a></p> 
    <p><a href="{% url 'home' %}">Click here to return to the home page</a></p>
    -->
<!--To make this href work, need to add namespace: to it. 
    So here it's 'offers:new_offer' instead of simply 'new_offer.
    WARNING: It's 'new_offer' in urls.py but here it needs to be 'offers:new_offer'-->
<!--<p><a href="{% url 'offers:new_offer' %}" >Click here to add an offer</a></p> -->
<h1>{{ title }}</h1>
<section>
    {% if not offers %}
    <p>Nothing yet</p>
    {% else %}
    <div class="posts">
        {% for offer in offers %}
        <article>
            <a href="#" class="image">
                <img src="/media/{{ offer.photo }}" alt="" />
            </a>
            <p>{{ offer.description }}</p>
            <!--An offer has many dibs. A dib belongs to an offer AND to an owner.-->
            <!--To access the attributes of a dib, use dib_set.-->
            {% for each in offer.dib_set.all %}
            <p>{{ each.owner.username }} called dibs!</p>
            {% endfor %}
        </article>
        {% endfor%}
    </div>
    {% endif %}
</section>

{% endblock content %}