{% extends 'base.html' %} {% block content %}
<!--Hi, {{ user.username }}!-->
<!--<p><a href="{% url 'logout' %}">Click here to log out</a></p> 
    <p><a href="{% url 'home' %}">Click here to return to the home page</a></p>
    -->
<br>
<!--To make this href work, need to add namespace: to it. 
    So here it's 'offers:new_offer' instead of simply 'new_offer.
    WARNING: It's 'new_offer' in urls.py but here it needs to be 'offers:new_offer'-->
<!--<p><a href="{% url 'offers:new_offer' %}" >Click here to add an offer</a></p> -->
<h1>{{ title }}</h1>

{% if not offers %}
<p>Nothing yet</p>
{% else %}

<ul>
    {% for offer in offers %}

    <div class="gallery">
        <img src="/media/{{ offer.photo }}" alt="TODO" width="300">
        <div class="desc">{{ offer.description }}</div>
        {% if offer.dib %}
        <div class="desc">{{ offer.dib }} calls dibs!</div>
        {% endif %}



        <form action="{% url 'offers:add_dib' %}" method='post'>
            <!--For security.-->
            {% csrf_token %}

            <input type="hidden" name="offer" value="{{offer.id}}" />
            <input type="submit" value="I call dibs!" />
        </form>

    </div>
    {% endfor%}

</ul>

{% endif %} {% endblock content %}