<!-- templates/registration/.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<!--<p><a href="{% url 'signup' %}" >Not signed up? Click here to register</a></p>
<p><a href="{% url 'home' %}">Click here to return to the home page</a></p>
-->

<h2>Log in</h2>
<form method="post">
    <!--For security; prevents XSS attack.-->
    {% csrf_token %}
    <!--Form contents outputted between paragraph tags.-->
    {{ form.as_p }}
    <button type="submit">Log in</button>
</form>
{% endblock %}


