<!-- templates/home.html -->
{% extends 'base.html' %}

<!--{% block title %}WhoWantsWhat{% endblock %}-->


{% block content %}

{% if user.is_authenticated %}
    Hi, {{ user.username }}!
    <p><a href="{% url 'logout' %}">Click here to log out</a></p>
{% else %}
    <div class="jumbotron text-center">
        <h1>WhoWantsWhat?</h1>
        <p>This is where the nutgraf goes, nutgraf goes, nutgraf goes. This is where the nutgraf goes. This is where it goes.</p> 
    </div>
    <div class="container-fluid text-center"> 
        <h3>How it works</h3>
        <div class="row">
          <div class="col-sm-4">
            <p>Take photos of your stuff and add them to your page. Uploading is easy -- just follow the prompts and click the buttons.</p>
            <img src="/media/furniture/taking_a_picture.png" class="img-responsive" style="width:100%" alt="Image description goes here">
          </div>
          <div class="col-sm-4">
            <!--TODO Check this text; might not be able to send evites.-->
            <p>Invite your family and friends to view your items. We'll send evites for you. (Not sure I'll be able to do that, though. Check this later.</p>
            <img src="/media/furniture/spread_out_family_better.png" class="img-responsive" style="width:100%" alt="Image description goes here">
          </div>
          <div class="col-sm-4"> 
            <p>Your family and friends choose the items they'd like to have. See who calls dibs!</p>
            <img src="/media/furniture/julia_calls_dibs.png" class="img-responsive" style="width:100%" alt="Image description goes here">
          </div>
        </div>
      </div>
<!--<h1>Hed goes here -- maybe WhoWantsWhat?</h1>

    <h3>Explanatory text goes here. Maybe something like this:
    <br>
    Downsizing? Want to share your excess stuff -- from ho-hum to heirloom -- with family and friends? List it here and invite others to call dibs on the items they’d like to have.</h3>
    -->
    <!-- <p>You are not logged in</p> -->
    <a href="{% url 'login' %}">Already have an account? Click here to log in</a>
    <br>
    <br>
    <!--<a href=/accounts/signup/ >Not signed up? Click here to register</a>-->
    <a href="{% url 'signup' %}">Not signed up? Click here to register</a>

{% endif %}
{% endblock %}

