<!-- templates/home.html -->
{% extends 'base.html' %}

<!--{% block title %}WhoWantsWhat{% endblock %}-->


{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Downsizing? Got too much stuff?</h1>
  <p class="lead">From heirloom to ho-hum, your surplus items could be perfect for family and friends.</p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>How it works</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Take photos of your stuff and add them to your page. It's easy -- just follow the prompts and click the buttons.</p>
      <img src="/media/images/taking_a_picture.png" class="img-responsive" style="width:100%" alt="">
    </div>
    <div class="col-sm-4">
      <!--TODO Check this text; might not be able to send evites.-->
      <p>Invite your family and friends to register for a free account. Add them to your family group and let them view your
        items.
      </p>
      <img src="/media/images/spread_out_family_better.png" class="img-responsive" style="width:100%" alt="">
    </div>
    <div class="col-sm-4">
      <p>Your family and friends choose the items they'd like to have. See who calls dibs!</p>
      <img src="/media/images/julia_calls_dibs.png" class="img-responsive" style="width:100%" alt="">
    </div>
  </div>
</div>
{% endblock %}